<!-- EVENTS -->
<div class="container">
    <div class="row justify-content-center">
        {{>sideview/sideview}}
    </div>
    <div class="row d-flex justify-content-center">
        
        {{>event/event}}
    </div>
    
</div>
