body {
    background-image:url("/images/philadelphia-night.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.event-header{
    background-color:black
}

.sideview-header{
    background-color:black
}