<div class="col-md-8">
    <div class="sideview-card card mx-auto d-block mt-3 mr-3 text-white bg-dark">
        <h5 class="card-header event-header">The Philly Music Scraper</h5>
        <p class="card-body">Welcome to the Philly Music Scraper! 
            This is a web scraper that pulls from a specially curated list of Philadelphia 
            venues to find some of the best underground/indie acts that come through the city of Philadelphia!
            Users are welcome to add comments on any event they see fit. 
            Once a day, a "cron" operation runs to both update the events and clean out all of the old events.
            Thanks for visiting, and make sure to make it to the show!
        </p>
    </div>
</div>