<div class="col-md-4">
    <div class="sideview-card card mx-auto mt-3 mr-3 text-white bg-dark">
        <h5 class="card-header event-header">The Philly Music Scraper</h5>
        <p class="card-body">Welcome to the Philly Music Scraper! 
            This is a web scraper that pulls from a specially curated list of Philadelphia 
            venues to find some of the best underground/indie acts that come through the city of Philadelphia!
            users are welcome to add comments on any event they see fit. 
            Old events are cleaned out from the Mongoose database once a day via a "cron" operation.
            Thank you for visiting and make sure you get to the show!
        </p>
    </div>
</div>