<div class="col-md-8">
    <div class="sideview-card card mx-auto d-block mt-3 mr-3 text-white bg-dark">
        <h5 class="card-header event-header">The Philly Music Scraper</h5>
        <p class="card-body">Welcome to the Philly Music Scraper! 
            This is a web scraper that pulls from a specially curated list of Philadelphia 
            venues to find some of the best underground/indie acts that come through the city of Philadelphia!
            Users are welcome to add comments on any event they see fit. 
            Traditionally, updates to this system would come from a "cron"-type operation, but Heroku proves unreliable
            for this, so press the button below to clean out old events and get new ones!
        </p>
        <div class="btn btn-secondary btn-block" id="scraper">Clean and Scrape!</div>
    </div>
</div>